DATABASE_URL=postgres://username:password@host/database
# Note: On windows, binding to [::] will NOT bind to both ipv4 and ipv6, it will only bind to ipv6
HOST=0.0.0.0
PORT=3000

# S3 config, only required if using S3 for storage
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=